NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=prince
DB_PASSWORD=200102
DB_NAME=demo_credit

AUTH_SECRET=change_me_in_production

ADJUTOR_BASE_URL=https://adjutor.lendsqr.com/v2
ADJUTOR_API_KEY=your_adjutor_api_key
